build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
DartConfiguration.tcl

*.exe
*.dll
*.dll.a
*.a
*.lib
*.obj
*.o
*.pdb
*.ilk
*.exp

.vs/
.vscode/
.idea/

*.user
*.suo
*.VC.db
*.VC.opendb

Thumbs.db
Desktop.ini

*.log
*.tmp
*.temp
*.bak
